.features-container {
  display: flex;
  justify-content: center;
}

.features-list {
  display: flex;
  gap: 24px;
}

.features-list-item {
  width: 264px;
}

.features-list-item-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.features-list-item-icon {
  width: 64px;
  height: 64px;
}

.features-list-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.features-list-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
